<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TcpSaleputoutyfMapper">
    <insert id="insertSalePutoutYF" parameterType="java.util.ArrayList">
    INSERT
    INTO
    FA.T_CP_SALEPUTOUTYF
    (
    VBILLCODE,
    DBILLDATE,
    BUSICODE,
    BUSINAME,
    STORCODE,
    STORNAME,
    RDCODE,
    RDNAME,
    VUSERDEF12,
    VUSERDEF16,
    VUSERDEF7,
    SENDCODE,
    SENDNAME,
    CUSTCODE,
    CUSTNAME,
    VDILIVERADDRESS,
    PSNCODE,
    PSNNAME,
    GZHJS,
    GZDS,
    GZFYS,
    GZKBS,
    PSNCODESALE,
    PSNNAMESALE,
    GGHJS,
    GGDS,
    GGFYS,
    GGKBS,
    DEPTCODE,
    DEPTNAME,
    BODYCODE
    )
    VALUES(#VBILLCODE:VARCHAR#,#DBILLDATE:VARCHAR#,#BUSICODE:VARCHAR#,#BUSINAME:VARCHAR#,#STORCODE:VARCHAR#,#STORNAME:VARCHAR#,#RDCODE:VARCHAR#,#RDNAME:VARCHAR#,
    #VUSERDEF12:VARCHAR#,#VUSERDEF16:VARCHAR#,#VUSERDEF7:VARCHAR#,#SENDCODE:VARCHAR#,#SENDNAME:VARCHAR#,#CUSTCODE:VARCHAR#,#CUSTNAME:VARCHAR#,
    #VDILIVERADDRESS:VARCHAR#,#PSNCODE:VARCHAR#,#PSNNAME:VARCHAR#,#GZHJS:VARCHAR#,#GZDS:VARCHAR#,#GZFYS:VARCHAR#,#GZKBS:VARCHAR#,#PSNCODESALE:VARCHAR#,#PSNNAMESALE:VARCHAR#,
    #GGHJS:VARCHAR#,#GGDS:VARCHAR#,#GGFYS:VARCHAR#,#GGKBS:VARCHAR#,#DEPTCODE:VARCHAR#,#DEPTNAME:VARCHAR#,#BODYCODE:VARCHAR#)
</insert>
</mapper>